html{background-color: rgb(236, 236, 236)  }

header {
    text-align: center;
}

.page-subtitle {
    font-size: 20px;
    font-style: italic;
}

body {
    
}

.main-photo {
    size: 100px;
}

.main-table {
    border: red;
}
tr {
    font-style: bold;
}

/*
a {
    text-decoration: none;
    color: black;
    background-color: red;

}

.fixed-bar {
    height: 70 px;
    
}

.page-title {
    position: fixed;
    top: 0;
}

.navigation {
    text-align: center;
}

.navigation li,
.navigation a {
    display
}

.review-clients

*/
