html{background-color: rgb(236, 236, 236)  }

header {
    text-align: center
}


/*
a {
    text-decoration: none;
    color: black;
    background-color: red;

}

.fixed-bar {
    height: 70 px;
    
}

.page-title {
    position: fixed;
    top: 0;
}

.navigation {
    text-align: center;
}

.navigation li,
.navigation a {
    display
}

.review-clients

*/
